* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 14px;
	color: rgba(124, 211, 122, 0.9);
}

[title] {
	text-shadow: 2px 2px green;
}

a[rel='nofollow'] {
	line-height: 1.5em;
	font-size: 12px;
	background-color: red;
}

button {
	border: 1px solid grey;
	background-color: #f4f4f4;
	transition: 2s transform;
}

button:active {
	transform: scale(2) rotate(360deg);
}

article {
	border: 1px solid grey;
}

article:hover {
	box-shadow: -18px 2px 5px 0px gray;
}

.contact {
	border: 0px;
	background-color: aqua;
}
#radius15 {
	border: 1px solid chartreuse;
	border-radius: 15px;
}
